[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=StopmotionTool
Exec=bash /home/pi/Documents/stopmotiontoolkit/startup.sh
Icon=/home/pi/Documents/stopmotiontoolkit/_install/_images_/icon.png
StartupNotify=True
Terminal=False